DJANGO_DEBUG=false
DJANGO_ENABLE_TEST_VIEWS=false
DJANGO_PUBLIC_DATA_ROOT=/path/to/public
DJANGO_GLOBUS_DIRECT_URL_BASE=https://example.com
DJANGO_GLOBUS_FILE_APP_URL_BASE=https://example.com?foo=bar
